*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --mycolor:teal;
}
.container1
{
    display: grid;
    grid-template-rows: 1fr 20fr;
}
.header
{
    text-align: center;
    padding: 10px;
    background-color: teal;
    color: white;
    height: 80px;
    font-weight: bolder;
}
.main{
    display: grid;
    grid-template-columns: 4fr 6fr;
}
.left{
    background-color: #edfff1;
    display: grid;
    grid-template-rows: 1fr 10fr;
    border-right: 2px solid lightgrey;
}
.lefttop
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid lightgrey;
    justify-items: center;
}
.lefttop>div
{
    width: 100%;
    display: grid;
    justify-items: center;
    align-items:center;
    margin-right:10px; 
}
.lefttop>div>button{
    
    margin:10px; 
}
.lefttop>div>input{
    width: 100%;
    margin:20px; 
}
.new_form_div{
    width: 70%;
    margin: auto;
    margin-top: 100px;
    border: 1px solid lightblue;
    padding: 30 30px 60px 30px;
    min-width: 400px;
}

#newquestionform
{
    padding: 10px;
}
#search_input
{
    padding: 10px;
}
.btn-primary{
    border-radius: 12px;
}

#newSubject{
    margin-top: 10px;
    padding:10px; 
}
#newQuestion{
    margin-top: 10px;
    width:100%;
    height:100px;
    padding:10px; 
    resize: none;
}
#submit,.button2,#submitResponse{
    margin-top: 10px;
    float: right;
}
.right{
    background: #65dcff2e;
}

#responseName{
    margin-top: 10px;
    padding: 7px 5px;
}
#responseText{
    margin-top: 10px;
    padding: 7px 5px;
    width:100%;
    height:100px;
    resize: none;
}
.first_div
{
    padding: 10px;
    margin-left: 5px;
}
.first_div_inner
{  
    padding-left: 10px;
}
.first_div_inner_inner
{
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 1px solid;
    background: aliceblue;
}

.btn,.btn-primary,.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active{
    background-color: var( --mycolor);
    border-color: var( --mycolor);
    outline: var( --mycolor);
}
@media all and (max-width: 768px) {
.left{
    display: grid;
    grid-template-rows: 1fr 10fr;
}
.lefttop
{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    border-bottom: 2px solid lightgrey;
    justify-items: center;
}

.lefttop>div
{
    width: 100%;
    display: grid;
    justify-items: center;
    align-items:center;
    margin-right:10px; 
}
.lefttop>div>button{
    
    margin:10px; 
}
.lefttop>div>input{
    width: 100%;
    margin:20px; 
}

}

#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff
	url('https://media.giphy.com/media/ZBQhoZC0nqknSviPqT/giphy.gif')
	 no-repeat center center;	
	z-index: 99999;
}

