body
{
    margin: 10px;
    font-size: 260%;
    color: white;
    background-color: #000;
}

.container
{
    display: flex;
    height: 100%;
    flex-direction: column;
}

#row1
{
    display: flex;
    align-self: flex-start;
    height: 15vh;
    margin-bottom:5px;
    width: 100%;
}

.boxA,.boxB,.boxC,.boxD
{
    display: flex;
    width: 25%;
    border: 2px solid #0a25f7;
    justify-content: center;
    align-items: center;
}

 .row2
{
    display:flex;
    height:25vh;
    margin-bottom: 5px;
    border:2px solid #A529AE;
    justify-content: center;
    align-items: center;
} 

.row3
{
    display: flex;
    height: 54vh;
}

.section1
{
    width: 50%;
    height: 100%;
    display: flex;
    margin-right:5px;
    border: 2px solid #A529AE;
    justify-content: center;
    align-items: center;
}

.section2
{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.part1
{
    width: 100%;
    height: 50%;
    display: flex;
    margin-bottom: 7px;
    flex-direction: row;
}

.part2
{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.box3,.box4
{
    height: 100%;
    width: 50%;
    display: flex; 
    border: 2px solid #A529AE;
    justify-content: center;
    align-items: center;
}

.box5,.box6
{
    height: 100%;
    width: 50%;
    display: flex; 
    border: 2px solid #A529AE;
    justify-content: center;
    align-items: center;
}

.box6,.box4
{
    margin-left: 5px;
}